#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  font-size: xx-large;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.active {
  text-decoration: underline;
}

.pending {
  text-decoration: wavy;
}